<div class="jumbotron text-center">
  <h1>Your rank is {{scorePosition}} of {{scores.length}}</h1>
</div>

<h3>Scoreboard</h3>

<table class="scoreboard-table table table-bordered">
  <tbody>
    <tr>
      <th class="col-md-2">Total Time</th>
      <td class="col-md-10">{{totalTimeFormatted}}</td>
    </tr>
    <tr>
      <th class="col-md-2">Correct Answers</th>
      <td class="col-md-10">{{correctAwnsersLength}}</td>
    </tr>
  </tbody>
</table>
