  <table class="table table-bordered">
    <tbody>
      <tr>
        <th class="col-md-2">Total Time</th>
        <td class="col-md-10">{{totalTimeFormatted}}</td>
      </tr>
      <tr>
        <th class="col-md-2">Correct questions</th>
        <td class="col-md-10">{{correctAwnsersLength}} / {{questiosnLength}}</td>
      </tr>
    </tbody>
  </table>
