<div>
  <h2>{{model.question.title}}</h2>

  <div>
    {{#each model.question.answers as |answer|}}
      {{question-answer
        answer=answer
        userAnswer=model.answer
        userAnswerCorrect=model.correct
        answerQuestion="answerQuestion"}}
    {{/each}}
  </div>
</div>

{{question-result
  userQuestion=model
  startNextQuestion="startNextQuestion"
  transitionToScore="transitionToScore"
}}
