<div>
  <h2>{{model.question.title}}</h2>

  <div>
    {{#each model.question.answers as |gameAnswer|}}
      {{game-answer
        answer=gameAnswer
        userAnswer=model.answer
        userAnswerCorrect=model.correct
        answerQuestion="answerQuestion"}}
    {{/each}}
  </div>
</div>

{{game-question-result model=model startNextQuestion="startNextQuestion"}}
