body {
  font-family: 'Muli', sans-serif;
}

.footer {
  margin-top: 100px;
  padding: 40px 0;
  text-align: center;
}

.login-buttons {
  margin-top: 45px;
}

.login-features-container h3 span {
  margin-right: 10px;
}

.question-answer-container {
  padding-bottom: 12px;
}

.question-jumbotron {
  padding-top: 10px;
  padding-bottom: 10px;
}

.result-panel {
}

.question-answer-button {
  height: 75px;
}

.scoreboard-table {
  margin-top: 20px;
}
