<nav class="navbar navbar-inverse">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">The CS Challenge</a>
    </div>
    <div class="navbar-right">
      {{#if session.isAuthenticated}}
        {{#if session.currentUser.displayName}}
          <p class="navbar-text">Logged in as {{session.currentUser.displayName}}</p>
        {{else}}
          <p class="navbar-text">Anonymous login</p>
        {{/if}}
        <button type="button" class="btn btn-primary navbar-btn" {{action "signOut"}}>Sign out</button>
      {{/if}}
    </div>
  </div>
</nav>

<div class="container">
  {{outlet}}
</div>

<footer class="footer">
  <p>No copyright whatsoever but created @2016 christmas break.
    <br />
    You can access to the <a href="https://github.com/Rastikko/the-cs-challenge-node" target="_blank">Backend nodejs</a>, or
    <a href="https://github.com/Rastikko/the-cs-challenge-ember"  target="_blank">Frontend Ember.js</a> source code in github.</p>
</footer>
