<h1 class="text-center">The Computer Science Challenge</h1>

<div class="text-center">
  {{#if session.isAuthenticated}}
    {{#link-to "game" class="btn btn-primary"}}Start Game{{/link-to}}
  {{else}}
    <button type="button" class="btn btn-primary" {{action "signIn" "twitter"}}>Sign in with Twitter</button>
  {{/if}}
</div>
