<h1 class="text-center">The Computer Science Challenge</h1>

<div class="text-center">
  {{#if session.isAuthenticated}}
    {{#link-to "game" class="btn btn-primary"}}
      {{#if gameInProgress}}
        Continue Game
      {{else if gameFinished}}
        View Scoreboard
      {{else}}
        Start Game
      {{/if}}
    {{/link-to}}
  {{/if}}
</div>
