<div class="text-center">
<h2>Some keynotes before you start..</h2>

  <p>You will have 60 seconds to respond each one of the questions</p>
  <p>There are 4 possible answers, only 1 is the correct one</p>
  <p>Once responded, you can take as much time to go to the next question</p>
  <p>Once you fail to respond a question, you will need to wait 30 minutes to try again</p>
  <p>The project is on Alpha, so expect some flaws</p>
</div>

<div class="text-center">
  {{#if session.isAuthenticated}}
    {{#link-to "game" class="btn btn-primary"}}
      {{#if gameInProgress}}
        Continue Game
      {{else if gameFinished}}
        View Scoreboard
      {{else}}
        Start Game
      {{/if}}
    {{/link-to}}
  {{/if}}
</div>
