<button type="button" class="btn btn-primary" {{action "signIn" "twitter"}}>Sign in with Twitter</button>
or
<button type="button" class="btn btn-primary" {{action "signIn" "anonymous"}}>Anonymous sign in</button>
